<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Search</title>
</head>
<body>
<center>
    <h2>Search for Location</h2>

    <form action="/result" method="get">
        <div>
            <input type="text" name="query" placeholder="Enter ZIP or City" required/>
            <button type="submit">Search</button>
        </div>
    </form>

    <p style="color:red;" th:if="${error}" th:text="${error}"></p>

    <div th:if="${searchByZip}">
        <h3>Result</h3>
        <p><strong>City:</strong> <span th:text="${searchByZip.city()}"></span></p>
        <p><strong>ZIP:</strong> <span th:text="${searchByZip.zip()}"></span></p>
    </div>

    <div th:if="${searchByCity}">
        <h3>Result</h3>
        <table align="center">
            <tr>
                <td><strong>City:</strong></td>
                <td><span th:text="${cityName}"></span></td>
            </tr>
            <tr>
                <td><strong>ZIP:</strong></td>
                <td>
                    <span th:each="loc, iterStat : ${searchByCity}">
                        <span th:text="${loc.zip()}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</center>
</body>
</html>
